<article class="topic">
    <div class="title">
        <a href="/topic/{{id}}">{{<title}}></a>
    </div>
    <div class="body">
        {{topic_text}}
    </div>
    <div class="meta">
        <strong>Posted by {{user.username}} on {{format_date created_at}}</strong>
    </div>
</article>