<section>
  <h2>Create New Topic</h2>

  <form class="new-topic-form">
    <div>
      <label for="topic-title">Title</label>
      <input type="text" id="topic-title" size="60" name="topic-title" />
    </div>
    <div>
      <label for="topic-text">Content</label>
      <textarea name="topic-text"></textarea>
    </div>
    <button type="submit" class="btn">Create Topic</button>
  </form>
</section>

<script src="/public/js/add-topic.js"></script>