<div>
    <form id="post-form">
        <div>
            <label for="subject">Subject</label>
            <input type="text" name="subject" id="subject">
        </div>
        <div>
            <label for="content">Content</label>
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
        </div>
        <button type="submit">Post</button>
    </form>
</div>

<script src="/js/post.js"></script>