<section class="user-form main-container">
    <form id="signup-form">
        <fieldset>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" />
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
            <label for="avatar">Avatar URL</label><span class="optional">
                (optional)</span>
            <input type="text" name="avatar" id="avatar" />
            <input type="submit" value="Sign Up" />
        </fieldset>
    </form>
</section>

<script src="/js/signup.js"></script>