<div>
    <form id="signup-form">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <label for="avatar">Avatar URL</label>
            <input type="text" name="avatar" id="avatar">
        </div>
        <button type="submit">Sign Up</button>
    </form>
</div>

<script src="/js/signup.js"></script>