<div>
    <form id="update-pass-form">
        <div>
            <label for="current-password">Current Password</label>
            <input type="password" name="current-password" id="current-password">
        </div>
        <div>
            <label for="new-password">New Password</label>
            <input type="password" name="new-password" id="new-password">
        </div>
        <button type="submit">Update Password</button>
    </form>
</div>

<div>
    <form id="update-avatar-form">
        <div>
            <label for="new-avatar">New Avatar</label>
            <input type="text" name="new-avatar" id="new-avatar">
        </div>
        <button type="submit">Update Avatar</button>
    </form>
</div>

<script src="/js/update.js"></script>